/dataset-resized/
/PetImages/
/TestData/
/TrainingData/
/dataset-resized.zip
/PetImages.zip
/data_set/flower_data/flower_photos/
/data_set/flower_data/train/
/data_set/flower_data/val/
/data_set/flower_data/flower_photos.tar
